<p style="color: green"><%= notice %></p>

<h1>Palestras</h1>

<div id="palestras">
<h4>Track A</h4>
<%= @tracks %>
<p>Almoço</p>
<%= @tracks2 %>
</div>

<h4>Track B</h4>
<%= @tracksb %>
<p>Almoço</p>
<%= @tracksb2 %>
</div>

<%= link_to "New palestra", new_palestra_path %>
