<p style="color: green"><%= notice %></p>

<%= render @palestra %>

<div>
  <%= link_to "Editar", edit_palestra_path(@palestra), class: "btn btn-info" %> |
  <%= link_to "Voltar", palestras_path, class: "btn btn-info" %>
  <br><br>
  <%= button_to "DELETAR", @palestra, method: :delete, class: "btn btn-warning" %>
</div>
