<!DOCTYPE html>
<html>
  <head>
    <title>ConferenceOrganizer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/palestras">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/palestras/file">Carregar Arquivo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/palestras/all">Visualizar Evento</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
